@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
    border: 1px solid #000;
}

body{
    font-family:  'Fraunces', serif;
}

.nav{
    max-height: 100px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav ul{
    display: flex;
}

.nav ul li{
    list-style-type: none;
    font-size: 12px;
    font-weight: 700;
    color: #83888F;
    padding-left: 20px;
}

.bunner{
    max-width: 1410px;
    height: 700px;
    margin-top: 20px;
    background-image: url("./bunner.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.bunner_item{
    max-width: 500px;
    max-height: 700px;
    margin-top: 200px;
}

.bunner_item h1{
    font-size: 72px;
    font-weight: 900;
    color: #FEFCF7;
}

.bunner_item p{
    max-width: 405px;
    font-size: 16px;
    font-weight: 400;
    color: #FEFCF7;
    opacity: 80%;
    padding-top: 20px;
}

.bunner_item button{
    width: 217px;
    height: 56px;
    border-radius: 6px;
    background-color: #66D2CF;
    color: #FEFCF7;
    font-size: 18px;
    font-weight: 900;
    border: none;
    margin-top: 40px;
}

.container_small{
    max-width: 1200px;
    margin: auto;
    border: 3px solid rgb(255, 0, 0);
}

.collection{
    margin-top: 100px;
    min-height: 400px;
    position: relative;
}

.collection h2{
    font-size: 150px;
    left: 80px;
    color: gray;
    background: -webkit-linear-gradient(rgb(194, 194, 194),rgb(244, 244, 244));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    position: absolute;
    top: -90px;
    z-index: -1;
}

.collection_item{
    max-width: 1200px;
    height: 400px;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item_box{
    width: 255px;
    height: 400px;
}

.item_img{
    width: 255px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_text{
    width: 255px;
    height: 140px;
    margin-top: 60px;
}

.item_text h3{
    font-size: 24px;
    font-weight: 900;
    color: #333D4B;
    display: flex;
    justify-content: center;
}

.item_text p{
    font-size: 16px;
    color: #333D4B;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}


.choose{
    max-height: 570px;
    margin-top: 120px;
    background-color: #2C343E;
}

.choose h2{
    font-size: 40px;
    font-weight: 900;
    color: #FEFCF7;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.choose p{
    width: 540px;
    font-size: 16px;
    color: #FEFCF7;
    margin: auto;
    margin-top: 30px;
    text-align: center;
}

.choose_item{
    max-height: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.choose_box{
    width: 350px;
    height: 380px;
    background-color: #0E8784;
    border-radius: 8px;
}

.choose_box ul li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.choose_box ul li:first-child{
    padding-top: 72px;
}

.choose_box ul li:nth-child(2){
    font-size: 24px;
    font-weight: 900;
    color: #FEFCF7;
    padding-top: 56px;
}

.choose_box ul li:last-child{
    width: 255px;
    margin: auto;
    font-size: 16px;
    color: #FEFCF7;
    padding-top: 24px;
}